POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smartportdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

KAFKA_BROKER_URL=kafka:9092
REDIS_URL=redis://redis:6379/0

JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
